<!-- The Contact Section -->
<div class="w3-container w3-content w3-padding-64" style="max-width: auto;" id="contact">
  <h1>&nbsp;</h1>
  <h2 class="w3-wide w3-center">Contact</h2>

  <p class="w3-opacity w3-center"><i></i></p>

  <div class="w3-row w3-padding">

    <div class="w3-col m6 w3-large w3-margin-bottom">
      <i class="fa fa-map-marker" style="width: 30px;"></i> Taipei, zh-TW
      <br />
      <i class="fa fa-phone" style="width: 30px;"></i>
      Phone: <a href="tel:+886928230520">+886928230520</a>
      <br />
      <i class="fa fa-envelope" style="width: 30px;"></i>
      <a target="_blank" href="mailto:mailme@xispace.app" class="w3-btn w3-black">mailme@xispace.app</a>
      <br />
    </div>

    <div class="w3-col m6" style="display: none;">
      <form action="#" target="_blank">
        <div class="w3-row-padding" style="margin: 0 -16px 8px -16px;">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name" />
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email" />
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message" />
        <button class="w3-button w3-black w3-section w3-right" type="submit">
          SEND
        </button>
      </form>
    </div>
  </div>
</div>
