html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.top-massage {
  margin-top: 130px;
}
.top-title {
  text-shadow: 3px 1px 0 #000000;
}

.booking-form {
  height: 600px;
}

.booking-form-center {
  width: 60%;
}

.booking-form-left,
.booking-form-right {
  width: 20%;
}

.footer-address {
  letter-spacing: 0.15em;
}
