body {
    margin: 0px;
    background: #000000;
    padding: 0px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.luopan {
    z-index: -999;
    margin-top: 0px;
}

.tensvg {
    position: absolute;
    opacity: 0.9;
}